bin/
obj/
TestResults/
*.user
*.suo
.vs/
artifacts/
exports/
external/soulstruct-blender-release/
external/WitchyBND-release/
external/WitchyBND/bin/
external/WitchyBND/**/bin/
external/WitchyBND/**/obj/
